{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "current"
        },
        "modules": false
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-typescript",
      {
        "isTSX": true
      }
    ],
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties"
  ]
}
